<h1>Salut <%= @invité.first_name %> !</h1>
<h2><%= @host.first_name%> <%= @host.last_name %> a accepté ta demande !</h2>

<h3>Nous te donnons son mail pour que vous puissiez échanger : <%= @host.email %></h3>