    <!-- //////////// HERO DEBUT /////// -->

<section class="hero heroBanner">
  <div class="hero-body">
    <p class="title">
      <div class="animate__animated animate__headShake">COOKIES<%= image_tag "cookie.png", class:"animate__animated animate__rollOut" %>
      </div>
    </p>
    <p class="subtitle">GERER SES PREFERENCES</p>
    </div>
  </div>
</section>

<!-- //////////// HERO FIN ///////// -->

 <!-- //////// DEBUT MENU SIDE BAR /////// -->
  <div class="menu_scroll">
  <section class="main-content columns is-fullheight">
<aside>
<div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">


<div class="menu_scroll">
  <section class="main-content columns is-fullheight">
    <aside>
      <div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">

        <p class="menu-label is-hidden-touch"><span>A propos</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a class="" href="footer_apropos.html#histoire">Notre histoire</a>
          </li>
          <li>
            <a href="footer_apropos.html#team">La team</a>
          </li>
            </ul>
        </ul>

     <p class="menu-label is-hidden-touch"><span>Reseaux</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="footer_reseaux.html#nousrejoindre">Nous rejoindre</a>
          </li>
          <li>
            <a href="footer_reseaux.html#regles">Communaute</a>
              <li>
                <a href="footer_reseaux.html#charte">Charte</a>
              </li>
              <li>
                <a href="footer_reseaux.html#tips">Tips</a>
              </li>
          </li>
            </ul>
        </ul>

        <p class="menu-label is-hidden-touch"><span>Confidentialite</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="footer_confidentialite.html#confidentialite">Parametres</a>
          </li>
          <li>
            <a href="footer_confidentialite.html#securite">Securite</a>
          </li>
            </ul>
        </ul>
        

    <p class="menu-label is-hidden-touch"><span>Cookies</span></p>
      <ul class="menu-list">
        <li>
          <ul>
            <a href="footer_cookies.html#cookies">Pourquoi ?</a>
        </li>
          </ul>
      </ul>
    </div>
  </section>
</aside>
</div>

<!-- FIN DU MENU SIDE BAR -->

    <!--  ////////////// COOKIES ////// POURQUOI GERER //////////// -->
  <div class="espace">
    <div class="container column is-10">
    <div class="section_cookies">

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="cookies"><span class ="titre_carte">Miam ! Un cookie vous dites ?</span></p></div>
        <div class="card-content"><div class="content">
         <div class="texte_des_cartes">Un cookie est un petit fichier qu'un site Web demande à votre navigateur de stocker sur votre ordinateur ou dispositif mobile. Il permet au site Web de « se souvenir » de vos actions ou préférences au fil du temps. Il permet de naviguer de page en page sur un site Web, de fournir des connexions sécurisées et se souvient de vos préférences pour votre prochaine visite.<br /><br />Nous traitons vos donnees pour fournir du contenu ou des publicites. Nous analysons la diffusion de ce contenu ou de ces publicites pour en tirer des informations sur notre site web. Nous partageons ces informations avec nos partenaires sur la base du consentement et de l'interet legitime. Vous pouvez exercer votre droit de consentement ou d'opposition a un interet legitime, sur la base d'une finalite specifique ci-dessous ou au niveau de chaque partenaire disponible a partir du lien propose sous la finalite associee.<br /><br />Nous utilisons également des cookies pour fournir d'autres services ou nous aider à améliorer nos produits et services. Certains cookies nous fournissent des statistiques concernant le nombre de visiteurs et de pages Web consultées. Ces informations nous aident à concevoir du contenu plus utile pour vous. Ce fichier Cookie ne peut être lu que par son émetteur à qui il permet, pendant sa durée de validité, de reconnaître le terminal concerné à chaque fois que ce terminal accède à un contenu numérique comportant des Cookies dudit émetteur. Le Cookie ne vous identifie pas personnellement, mais uniquement le navigateur de votre terminal.<br /><br />Cependant, le refus de certains Cookies peut causer la dégradation d’un certain nombre de fonctionnalités nécessaires à la navigation sur le Site Internet (difficultés d’enregistrement ou d’affichage, etc.). Nous ne saurions, en pareil cas, être responsables de ces dysfonctionnements.</div>
        </div></div>
      </div>
      <br />
      <div class="texte_free">

      </div>
    </div>
  </div>

     <!--  /////////// FIN BOX 4 ///////////// -->



