<!-- //////////// HERO DEBUT /////// -->

  <section class="heroBanner hero">
  <div class="hero-body">
    <p class="title">
      <div class="animate__animated animate__flash">
      NOS RESEAUX SOCIAUX
        </div>
      
    </p>
    <p class="subtitle">
      VIENS NOUS DONNER TA FORCE !
    </p>
  </div>
</section>


<!-- //////////// HERO FIN ///////// -->

 <!-- //////// DEBUT MENU SIDE BAR /////// -->

  <div class="menu_scroll">
  <section class="main-content columns is-fullheight">
<aside>
<div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">


  <p class="menu-label is-hidden-touch"><span>A propos</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a class="" href="Footer_apropos.html#histoire">Notre histoire</a>
        </a>
      </li>
      <li>
        <a href="Footer_apropos.html#team">
          La team 
        </a>
      </li>
    </ul>
    </ul>


    <p class="menu-label is-hidden-touch"><span>Reseaux</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_reseaux.html#nousrejoindre">
         Nous rejoindre
        </a>
      </li>
      <li>
        <a href="#regles">
          Communaute
        </a>
          <li>
            <a href="Footer_reseaux.html#charte">
            Charte
            </a>
          </li>
          <li>
            <a href="Footer_reseaux.html#tips">
            Tips
            </a>
          </li>
      </li>
    </ul>
</ul>

    <p class="menu-label is-hidden-touch"><span>Confidentialite</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_confidentialite.html#confidentialite">
        Parametres
        </a>
      </li>
      <li>
        <a href="Footer_confidentialite.html#securite">
        Securite
        </a>
      </li>
    </ul>
    </ul>
        

    <p class="menu-label is-hidden-touch"><span>Cookies</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_cookies.html#cookies">
         Pourquoi ?
        </a>
      </li>
    </ul>
    </ul>
  </div>
</aside>
</div>

<!-- FIN DU MENU SIDE BAR -->

<!-- /////////// RESEAUX ////// COMMU CHARTRE TIPS FAQ ////////////
 -->

 <div class="espace">

      <div class="container column is-10">
    <div class="section_reseaux">
      
       <div class="card is-hidden1">
      <div class="card-header"><p class="card-header-title" id="nousrejoindre"><span class ="titre_carte">On se follow ?</span></p></div>
        <div class="card-content"><div class="content"> 
        
          <img class="animate__animated animate__backInDown" src="fb.png" alt="teamwork" width="50px"/>
        <div class ="reseaux_texte">
            <div class="texte_logo"><a href="https://www.facebook.com" target="_blank">Facebook</a></div>
          </div><br />
        
          <img class="animate__animated animate__backInLeft" src="twitter.png" alt="teamwork" width="50px">
        <div class ="reseaux_texte">
            <div class="texte_logo"><a href="https://www.twitter.com" target="_blank">Twitter</a></div>
        </div><br />
        <div class ="reseaux_texte">
          <img class="animate__animated animate__backInUp" src="insta.png" alt="teamwork" width="50px"/>
          
            <div class="texte_logo"><a href="https://www.instagram.com" target="_blank">Instagram</a></div>
            <br />
        </div></div></div>
      </div>
  
      <br />

    <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="regles"><span class ="titre_carte">Regles de la Communaute</span></p></div>
        <div class="card-content"><div class="content">
        <h3>Soyons respectueux les uns envers les autres</h3>
        <ul>
        <li>Respecter la vie prive d'un hote</li>
        <li>Ne pas attaquer les autres membres sur leur contenu</li>
        <li>Travaillons ensemble pour resoudre les disputes</li>
        <li>Reporter les violences</li>
        </ul>
        </div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="charte"><span class ="titre_carte">Charte de bonne conduite</span></p></div>
        <div class="card-content"><div class="content">
        <ul><li>Ne pas spamer</li>
        <li>Ne pas chercher en ces diners quelconque rendez-vous galant</li>
        <li>Ne pas intimider, stalker, harceler</li>
        <li>Creer seulement un profil</li>
        <li>Ne pas imposer ni ses idees, ni ses croyances :</li>
        </ul>
        </div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="tips"><span class ="titre_carte">Petits tips pour grands timides !</span></p></div>
        <div class="card-content"><div class="content">
          Before meeting, look for hosts or surfers whose profiles are complete with a real name, clear photos, and detailed descriptions of themselves and, if applicable, their couches.
          Read references of hosts or travelers to get a sense of others’ experiences.
          <br /><br />Women travelers may prefer to book with female hosts, and vice versa.
          <br /><br />Make sure you understand the level of privacy a host is offering when surfing. Carefully read through My Home section on member profiles and be sure to ask questions about anything that’s unclear. Get to know potential Hosts or Surfers through our messaging system. Don’t give out your personal contact information until you’ve met. Keep Hangout communication within the Hangout application.
          <br /><br />Make sure you have a plan to communicate with friends, family and backup accommodation options once you arrive. Will you have your computer? Will your mobile phone work?
            Ask questions! Have conversations! You’ll know what to expect (and so will your Host/Surfer), and you’ll likely both be more at ease when you meet. Some things you may want to ask:
          How many people live in your home? Do you allow guests to use the kitchen ? How many Surfers have you hosted (or how much have you Surfed)? Are there safety precautions I’ll need to take in the neighborhood or surrounding areas?
          <br /><br />In any situation where you feel unsafe, threatened or in immediate danger, remove yourself and contact the local authorities – such as police or emergency services – right away. 

        </div></div>
      </div>
      <br />
  </div>
</div>
</div>
</div>

     <!--  ////////// FIN BOX 2 //////////////// -->
