<!-- //////////// HERO DEBUT /////// -->

  <section class="hero">
  <div class="hero-body">
    <p class="title">
      <div class="animate__animated animate__fadeInBottomLeft">
          A PROPOS DE NOUS
      
    </p>
    <p class="subtitle">
      LA SPC TEAM !
    </p>
  </div>
</section>


<!-- //////////// HERO FIN ///////// -->

 <!-- //////// DEBUT MENU SIDE BAR /////// -->


  <div class="menu_scroll">
  <section class="main-content columns is-fullheight">
<aside>
<div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">


  <p class="menu-label is-hidden-touch"><span>A propos</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a class="" href="#histoire">Notre histoire</a>
        </a>
      </li>
      <li>
        <a href="#team">
          La team 
        </a>
      </li>
    </ul>
    </ul>

    <p class="menu-label is-hidden-touch"><span>Reseaux</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_reseaux.html#nousrejoindre">
         Nous rejoindre
        </a>
      </li>
      <li>
        <a href="#regles">
          Communaute
        </a>
          <li>
            <a href="Footer_reseaux.html#charte">
            Charte
            </a>
          </li>
          <li>
            <a href="Footer_reseaux.html#tips">
            Tips
            </a>
          </li>
      </li>
      <li>
      </li>
    </ul>
  </li>
</ul>

    <p class="menu-label is-hidden-touch"><span>Confidentialite</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_confidentialite.html#confidentialite">
        Parametres
        </a>
      </li>
      <li>
        <a href="Footer_confidentialite.html#securite">
        Securite
        </a>
      </li>
    </ul>
    </ul>
        

    <p class="menu-label is-hidden-touch"><span>Cookies</span></p>
    <ul class="menu-list">
      <li>
        <ul>
        <a href="Footer_cookies.html#cookies">
         Pourquoi ?
        </a>
      </li>
    </ul>
    </ul>
  </div>
</aside>
</div>

<!-- FIN DU MENU SIDE BAR -->

<!-- //////////// A PROPOS /// NOTRE HISTOIRE LA TEAM //////////////// -->

 <div class="espace">

<div class="container column is-10">
    <div class="section_apropos">

          <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="histoire"><span class ="titre_carte">Il etait une fois ...</span></p></div>
        <div class="card-content"><div class="content">4 mouss', 4 ordinateurs, une pincee d'ambition, un bol de courage et une marmite de plaisir = la recette parfaite pour monter en equipe et sur deux semaines LE site web revolutionnaire qui manquait a votre kit de voyage ... Share pas Cher ! </div>
      </div>
      </div>
      <br />

      <div class="card">
        <div class="card-header"><p class="card-header-title" id="team"><span class ="titre_carte">La team Share pas Cher</span></p></div>
        <!-- <div class="card-content"><div class="content">Nous vous presentons l'equipe Share pas Cher !</div></div> -->
        <div class="vertical">
        <div class="card">
  <div class="card-content">
    <div class="content">
        <img src="hero.png" alt="teamwork" width="175px" />
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="content">
      Manu alias Superman, SuperGus, Juana et Chenda autrement dit Mamie sont 4 moussaillons de la formation numero 16 a The Hacking Project. Apres trois semaines de cours intensifs, nous pouvons enfin realiser un petit reve : celui de lancer notre premier site web !
    </div>
  </div>
</div>
</div>
    
           <div class="vertical">
        <div class="card">
  <div class="card-content">
    <div class="content">
      Fiers de vous presenter un site fonctionnel qui reunit a travers le monde les plus jeunes chez les plus sages pour partager autour d'un repas ses recettes, traditions, et interets dans la vie...
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="content">
        <img src="earth.png" alt="teamwork" width="100px" />
    </div>
  </div>
</div>
</div>

       <div class="vertical">
        <div class="card">
  <div class="card-content">
    <div class="content">
        <img src="group.png" alt="teamwork" width="350px" />
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="content">
      L'idee au tout debut : Il nous tenait vraiment a coeur de creer une plateforme de partage qui aiderait les voyageurs seuls a s'immerser reellement dans la vie quotidienne d'un autochtone. Le repas en lui-meme est un cocon spatio-temporel unique qui permet de renforcer son bagage linguistique, connaitre plus encore telle culture, s'evertuer autour de quelques passions et de surtout rencontrer de belles personnes qui deviendront, qui sait... des amis ? 
    </div>
  </div>
</div>
</div>
    
           <div class="vertical">
        <div class="card">
  <div class="card-content">
    <div class="content">
      Enfin, c'est c'est surtout parce qu'en tant que food lover, on est heureux de partager nos passions a travers le monde : Rencontres, rires et deeeeeliciiieuse cuisine locale ! 
      Rejoignez la Share Pas Cher communeaute et decouvrez des personnalites atypiques autour de verre et repas animes !
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="content">
        <img src="diner.png" alt="teamwork" width="90px" />
    </div>
  </div>
</div>

     <!--  ///////////// FIN BOX 1 ///////////// -->
