    <!-- //////////// HERO DEBUT /////// -->
  <section class="heroBanner hero">
    <div class="hero-body">
      <p class="title">
        <div class="animate__animated animate__flash"> NOS RESEAUX SOCIAUX</div>
      </p>
      <p class="subtitle"> VIENS NOUS DONNER TA FORCE !</p>
    </div>
  </section>
<!-- //////////// HERO FIN ///////// -->

<!-- //////// DEBUT MENU SIDE BAR /////// -->
<div class="menu_scroll">
  <section class="main-content columns is-fullheight">
    <aside>
      <div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">

        <p class="menu-label is-hidden-touch"><span>A propos</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a class="" href="footer_apropos.html#histoire">Notre histoire</a>
          </li>
          <li>
            <a href="footer_apropos.html#team">La team</a>
          </li>
            </ul>
        </ul>

        <p class="menu-label is-hidden-touch"><span>Reseaux</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="footer_reseaux.html#nousrejoindre">Nous rejoindre</a>
          </li>
          <li>
            <a href="footer_reseaux.html#regles">Communaute</a>
              <li>
                <a href="footer_reseaux.html#charte">Charte</a>
              </li>
              <li>
                <a href="footer_reseaux.html#tips">Tips</a>
              </li>
          </li>
            </ul>
        </ul>

        <p class="menu-label is-hidden-touch"><span>Confidentialite</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="footer_confidentialite.html#confidentialite">Parametres</a>
          </li>
          <li>
            <a href="footer_confidentialite.html#securite">Securite</a>
          </li>
            </ul>
        </ul>

       <p class="menu-label is-hidden-touch"><span>Cookies</span></p>
      <ul class="menu-list">
        <li>
          <ul>
            <a href="footer_cookies.html#cookies">Pourquoi ?</a>
        </li>
          </ul>
      </ul>
    </div>
  </section>
</aside>
</div>
<!-- FIN DU MENU SIDE BAR -->

<!-- /////////// RESEAUX ////// COMMU CHARTRE TIPS ////////////-->

<div class="espace">
  <div class="container column is-10">
    <div class="section_reseaux">
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="nousrejoindre"><span class ="titre_carte">On se follow ?</span></p></div>
        <div class="card-content">
          <div class="content">
            <%= image_tag "fb.png", class:"animate__animated animate__backInDown" %>
            <div class ="reseaux_texte">
              <div class="texte_logo"><a href="https://www.facebook.com" target="_blank">Facebook</a></div>
            </div><br />
            <%= image_tag "twitter.png", class:"animate__animated animate__backInLeft" %>
            <div class ="reseaux_texte">
              <div class="texte_logo"><a href="https://www.twitter.com" target="_blank">Twitter</a></div>
            </div><br />
            <%= image_tag "insta.png", class:"animate__animated animate__backInUp" %>
            <div class ="reseaux_texte">
              <div class="texte_logo"><a href="https://www.instagram.com" target="_blank">Instagram</a></div>
            </div><br /></div></div>
          </div><br />

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="regles"><span class ="titre_carte">Regles de la Communaute</span></p></div>
        <div class="card-content">
          <div class="content">
          <h><em><span>Soyons respectueux les uns envers les autres</span></em></h4>
            <ul>
              <li>Respecter la vie prive d'un hote</li>
              <li>Ne pas attaquer les autres membres sur leur contenu</li>
              <li>Travaillons ensemble pour resoudre les disputes</li>
              <li>Reporter les violences</li>
            </ul>
          </div>
        </div>
      </div><br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="charte"><span class ="titre_carte">Charte de bonne conduite</span></p></div>
        <div class="card-content">
            <div class="content">
              <ul>
                <li>Ne pas spamer : SPC est une plateforme de partage entre adultes consentants, le spam ou tout autre forme d'harcelement seront sevrement bannis et punis par la SPC Team.</li>
                <li>Ne pas chercher en ces diners quelconque rendez-vous galant : Les diners n'ont en rien un carctere sexuel a exploiter. Il s'agit de se retrouver et de se decouvrir entre amis. Tout abus sera tres severement puni.</li>
                <li>Ne pas intimider, stalker, harceler</li>
                <li>Creer seulement un profil pour rester authentique et inspirer confiance.</li>
                <li>Ne pas imposer ni ses idees, ni ses croyances : Chacun est libre de tout ideaux, religion, pensees. La liberte d'opinion et d'expression sont deux valeurs tres importantes a nos yeux. Tout abus sera sanctionne.</li>
              </ul>
            </div>
          </div>
        </div><br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="tips"><span class ="titre_carte">Petits tips pour grands timides !</span></p></div>
          <div class="card-content">
            <div class="content"> 
            Avant de se rencontrer, verifiez bien les noms et adresses complets des hotes et voyageurs, leurs photos et les details d inscription.<br /><br />Les femmes voyageuses prefereront surement se rendre chez des hotes feminins, et vice versa. Soyez toujours bien conscient du niveau d'intimite offert par les hotes : qu'il s'agisse de leur toilette, salle de bain, veuillez respecter leurs regles d'hygienes.<br />Ne donnez surtout pas vos informations personnelles jusqu'a la rencontre. Soyez surs de toujours avoir un moyen de communication exterieure avec des amis ou de la famille. Aurez-vous votre ordinateur ? Votre telephone est-il bien charge ?<br />Posez des questions ! Discutez ! Voici quelques exemples pour demarrer : 
            <ol>
              <li>Vivez-vous depuis toujours dans ce pays/cette ville ?</li>
              <li>Quelle(s) langues parlez-vous ?</li>
              <li>Quels sont vos loisirs ? Faites-vous de la guitare ? Moi aussi ! Genial ! Votre morceau prefere ?</li>
              <li>Avez-vous voyage ? Ou ca ?</li>
              <li>Qu'avez-vous prefere deguster dans notre pays jusque la ?</li>
            </ol><br />
            Si toutefois vous vous retrouvez dans une situation d'insecurite, de menace ou de danger immediat, partez et contactez les autorites locales - police ou services d'urgences. Preparez donc les numeros d'urgence a chaque nouvelle entree d'un pays.
            </div>
          </div>
        </div><br />
      </div>
    </div>
  </div>
</div>

     <!--  ////////// FIN BOX 2 //////////////// -->
