 <!-- //////////// HERO DEBUT /////// -->

<section class="hero heroBanner">
  <div class="hero-body">
    <p class="title">
      <div class="animate__animated animate__fadeIn">CONFIDENTIALITE <%= image_tag "key.png", class:"animate__animated animate__rotateInDownLeft" %>
      </div>
    </p>
    <p class="subtitle">CONFIANCE ET PROTECTION</p>
  </div>
</section>
<!-- //////////// HERO FIN ///////// -->

<!-- //////// DEBUT MENU SIDE BAR /////// -->
<div class="menu_scroll">
  <section class="main-content columns is-fullheight">
    <aside>
      <div class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">

        <p class="menu-label is-hidden-touch"><span>A propos</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a class="" href="Footer_apropos.html#histoire">Notre histoire</a>
          </li>
          <li>
            <a href="Footer_apropos.html#team">La team</a>
          </li>
            </ul>
        </ul>
        
      <p class="menu-label is-hidden-touch"><span>Reseaux</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="Footer_reseaux.html#nousrejoindre">Nous rejoindre</a>
          </li>
          <li>
            <a href="#regles">Communaute</a>
              <li>
                <a href="Footer_reseaux.html#charte">Charte</a>
              </li>
              <li>
                <a href="Footer_reseaux.html#tips">Tips</a>
              </li>
          </li>
            </ul>
        </ul>

        <p class="menu-label is-hidden-touch"><span>Confidentialite</span></p>
        <ul class="menu-list">
          <li>
            <ul>
              <a href="Footer_confidentialite.html#confidentialite">Parametres</a>
          </li>
          <li>
            <a href="Footer_confidentialite.html#securite">Securite</a>
          </li>
            </ul>
        </ul>
      
      <p class="menu-label is-hidden-touch"><span>Cookies</span></p>
      <ul class="menu-list">
        <li>
          <ul>
            <a href="Footer_cookies.html#cookies">Pourquoi ?</a>
        </li>
          </ul>
      </ul>
    </div>
  </section>
</aside>
</div>

<!-- FIN DU MENU SIDE BAR -->

 <!-- /////////// CONFIDENTIALITE ///// PARAMETRES SECURITE /////// -->

<div class="espace">
      <div class="container column is-10">
    <div class="section_confidentialite">
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="securite"><span class ="titre_carte">Consignes generales de securite sur internet</span></p></div>
        <div class="card-content"><div class="content">
        <div>
        <%= image_tag "lock.png", class:"animate__animated animate__shakeX" %>
        <div class="texte_des_cartes">
        Comme dans la vraie vie, sur la toile, il faut etre conscient que l on peut etre en presence de personnes malhonnetes. Il y aura toujours une poignee de gens sans scrupules meme si la grande majorite des internautes sont honnetes et tels qu ils apparaissent en ligne. Vous <strong><span class="couleur">tenir informe</span></strong> sur les arnaques (scams) les plus frequentes vous permettra de les identifier et de les eviter.<br /><br />Voici quelques astuces afin de dejouer certains scams les plus courants : Sachez que virer de l argent equivaut a envoyer de l argent liquide.<br /><br />Les escrocs insistent souvent pour qu on leur fasse un virement, souvent a l etranger, car il est alors quasiment impossible d annuler la transaction ou de tracer l argent. Ne virez <strong><span class="couleur">jamais </span></strong> d argent a des inconnus ou a quiconque souhaitant que la transaction reste secrete.<br /><br />Meme si votre interlocuteur vous a semble convaincant, n acceptez <strong><span class="couleur">jamais</span></strong> de deposer un cheque et de renvoyer une partie de l argent.Faites preuve de bon sens. Si quelqu un vous demande des informations financieres sensibles, assurez-vous qu il s agit d'une personne de confiance.
        </div></div>

      </div>
        </div></div>
        <br />

        <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title" id="confidentialite"><span class ="titre_carte">Parametres de confidentialite</span></p></div>
        <div class="card-content"><div class="content">
        <%= image_tag "folder.png", class:"animate__animated animate__shakeX" %>
         <div class="texte_des_cartes">Les donnees personnelles nous permettent de vous identifier en tant que personne. Il peut s agir par exemple de votre nom, votre adresse ou votre numero de telephone. D'autre part, les données anonymes ne sont pas des données personnelles, car elles ne permettent pas de vous identifier. Il peut s'agir, par exemple, de statistiques concernant le nombre de visiteurs sur nos pages Web. <br /><br />Vous pouvez visiter notre site Web sans fournir de données personnelles.<br /><br />Nous limitons le traitement des données personnelles à ce qui est strictement <strong><span class="couleur">necessaire</span></strong> au but recherché (par exemple, pour faciliter la navigation sur notre site...) ou à des fins auxquelles vous avez donné votre <strong><span class="couleur">consentement</span></strong> (par exemple, pour recevoir une lettre d'informations ou pour recevoir des informations que vous avez demandées...). Nous ne collectons pas d'informations personnelles sensibles (telles que définies par le Règlement de l'UE n° 2016/679) sans obtenir votre consentement préalable explicite.<br /><br />Nous pouvons conserver et traiter vos données personnelles aussi longtemps que nécessaire, dans la mesure du raisonnable, dans le cadre dans lequel nous avons reçu vos données personnelles, en tenant compte de nos obligations légales et contractuelles éventuelles envers vous. Lorsque vous utilisez nos services, vous nous faites <strong><span class="couleur">confiance</span></strong> pour le traitement de vos informations. Nous sommes conscients qu'il s'agit d'une lourde responsabilité, c'est pourquoi nous nous efforçons de les protéger.<br /><br />Pendant la durée de conservation de vos données personnelles, nous prenons les mesures techniques et organisationnelles nécessaires pour garantir un niveau de sécurité approprié pour les protéger.
         </div>
        </div>
      </div>
      <br />
      </div>
      <br />
    </div>
  </div>

</section>
</div>\

     <!--  ///////////// FIN BOX 3 ///////////////////// -->
