<section class="hero is-large">
  <div class="hero-body">
    <p class="titre h has-text-white">Share Pas Cher</p>
    <p class="titre subtitle has-text-white">Le nouveau standard de la convivialité !</p>
    <div class="boutons">
    	<button class="butt one">Je suis hôte</button>
    	<button class="butt two">Je suis voyageur</button>
    </div>
  </div>
</section>

<div class="nav">
	<h1 class="h repas">UN BON REPAS A PARTAGER ?</h1>
	<%= image_tag 'fleche.svg', class:"fleche" %>
</div>

<div class="pageHome">
	<div class="carte">
		<%= image_tag 'prep.jpg' %>
		<div class="legend">
			<p class="t">pour l'instant,Lorem ipsum</p>
			<p class="desc">Marre de cette période où nous ne voyons que des bouts de visages masqué ?
			Avec SPC, trouvez des personnes avec qui partager un bon repas 
			Ici, pas d'algorithme, que de la bonne humeur !
			</p>
		</div>
	</div>

	<div class="carte">
		<%= image_tag 'tomates.jpg' %>
		<div class="legend">
			<p class= "t">Le partage, la clé du bonheur</p>
			<p class="desc">Avec internet, rien de plus simple de se renseigner sur d'autres cultures,
			mais connaissez vous vraiment le goût des plats traditionnels ?
			Pas forcément besoin d'aller en Inde pour goûter à un vrai Dhal !
			</p>
		</div>
	</div>
</div>