 /*                               font-family: 'Cormorant Unicase', serif;                      */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap');

/*                                font-family: 'Open Sans Condensed', sans-serif;               */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body
{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

html, body {
    min-height: 100vh;
    margin: 0; padding: 0;
}

*
{
    margin:0px;
    padding: 0px;
}

/*application.html.erb layouts*/
footer{
    width:100%;
    height: 100px;
    padding-top:50px;
    background-color: black;
    background-color: blue;
    position: absolute;
    bottom: -1200px;
}

.calage /*pour enlever le margin bottom du footer*/
{
    margin-bottom: 0px!important;
}

footer a
{
    color: #858A8E;
    text-decoration: none;
}

span.inter
{
    font-size: 12px;
    color : #BBC5CD;
}

/*navbar*/
#navbar
{
    width: 100%;
    height: 50px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#btnGaucheTrue
{
    width: 657px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}

#btnGaucheFalse
{
    width: 365px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}

#btnGaucheHost
{
    width: 943px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}


#btnDroiteTrue
{
    width: 452px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 50px;
}

#btnDroiteFalse
{
    width: 392px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 50px;
}


#logo
{
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo p
{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    color: #FF8527;
}

.spc
{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #FF8527;
}

.font
{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #707070;
}

.font:hover
{
    color: black;
}

/*______________________________________________________landing page_____________________________*/

.hero
{
    background-image: url('jmb.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 830px;
    background-repeat: no-repeat;
}



.titreLandingPage
{
    font-size: 2em;
    text-align: center;
}

.h
{
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    color: black;
    position: relative;
    top: 40px;
}

.btnSinscrire
{
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 50px;
	color: white !important;
    background-color: #BC211F;
	font-size: 18px;
	cursor: pointer;
}

.centerBtnHero
{
    width: 200px;
    height: 50px;
    margin: auto;
}

.titreUnderHero
{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
}

.fleche
{
    width: 40px;
    height: 40px;
    margin: auto;
    animation: fleche 1s ease-out alternate infinite;

}

@keyframes fleche
{
    from
    {
        position: relative;
        top: 0px;
    }
    to
    {
        position: relative;
        top: 10px;
    }
}



.pageHome
{
    position: relative;
    top: 50px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    background-color: blue;

}

.carte
{
    height: 600px;
    width: 600px;
    border: 1px solid grey;
    border-radius: 0px 0px 0px 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desc
{
    font-size: 1.3em;
    text-align: center;
}

.t
{
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
}



.indexEvents
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexEvents
{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
}

.events
{
	min-width: 250px;
	max-width: 250px;
	min-height: 300px;
	max-height: 300px;
	border: 1px solid black;
	text-align: center;
	padding: 0px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#cards
{
    margin-bottom: 15px;
	width: 300px;
	height: 500px;
	position: relative;
    top: 100px;
}

#eventTitle
{
	background-color: #BC211F;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#eventVille
{
	background-color: #5E6E54;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 10px;
}


.dismen
{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #6B9AC4;
    border-radius: 50px;
    color: white;
    margin: auto;
    cursor: pointer;
}

.regarde
{
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: 600;
}

.showEvents
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card
{
    border: 1px solid black;
    width: 50%;
    height: 50vh;
}


#title
{
    font-size: 3em;
    font-weight: 600;
    color:black;
}

#subtitle 
{
    font-size: 2.5em;
    font-weight: 400;
    color: black;
}

.jeveux
{
    width: 130px;
    height: 50px;
    border: none;
    background-color: #99d98c;
    border-radius: 50px;
    font-size: 1.1em;
    color: black;
    font-weight: 400;
    cursor: pointer;
}

#pageNewEvent
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.newEvent
{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub
{
    position: relative;
    top: 50px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #99d98c;
    color: black;
    font-weight: 600;

}




.right
{
	position: absolute;
	right: 0px;
	min-width: 50%;
	max-width: 50%;
}

.left
{
	min-width: 50%;
	max-width: 50%;
}

.imgLeft
{
	border-radius: 0px 50px 50px 0px;
    opacity: .8;

}

.imgRight
{
	border-radius: 50px 0px 0px 50px;
	transform: translateY(10.5px);
    opacity: .8;
}

.pleinUn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pleinDeux
{
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coté
{
	width: 400px;
	font-size: 29px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1.5px; 
}

.h1
{
	font-size: 29px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1.5px; 
	position: relative;
	top: 50px;
}

.descLanding
{
	width: 51%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.lasts
{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	bottom: 50px;
}


.presentation
{
	display: flex;

	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.centrer
{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: 50px;
}

.derniers
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	font-weight: 600;
}

#basDePage
{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50px;
	flex-direction: column;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    /*margin: 200px;
    letter-spacing: 2px; 
}

#loginpage
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#signuppage
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.formulaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sharelinks
{
color:#5E6E54;
}

.EditProfilePage
{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left, .right
{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImgEditProfile
{
    width: 400px;
    transform: rotate(5deg);
    box-shadow: 10px 10px orange;
    border: 1px solid #000000;
}

.souris
{
    background-color: orange;
}

.danger
{
    background-color: grey;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

.eventShow
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgtest
{
    max-width: 100%;
    max-height: 100%;
}

#imgShow
{
    width: 640px;
    height: 640px;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    position: relative;
    bottom: 50px;
}

#descShow
{
    width: 640px;
    height: 640px;
    border: 1px solid #e5e5e5;
    position: relative;
    right: 1px;
    border-radius: 0px 30px 30px 0px;
    position: relative;
    bottom: 50px;
}

#titreShow
{
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 60px;
}


#subShow
{
    font-size: 30px;
    position: absolute;
    top: 83px;
    left: 60px;
}

.textShow
{
    max-width: 545px;
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 60px;
    font-style: italic;
}

#cityShow
{
    width: 545px;
    font-size: 30px;
    position: absolute;
    top: 377px;
    left: 60px
}

#placeShow
{
    width: 545px;
    font-size: 30px;
    position: absolute;
    top: 432px;
    left: 60px;
}

#btnShow
{
    max-width: 311px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 85px;
    left: 165px;
}

.redTrue
{
    width: 156px;
    height: 100%;
    background-color: #BC211F;
    border: none;
    border-radius: 0px 30px 30px 0px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenTrue
{
    width: 156px;
    height: 100%;
    background-color: #648B57;
    border: none;
    border-radius: 30px 0px 0px 30px;
    color:white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadreTravShow
{
    width: 503px;
    height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 45px;
    left: 60px;
    /*border: 1px solid red;*/
    display: flex;
    align-items: flex-start;
}

#cadreTravShow::-webkit-scrollbar
{
    width: 0px;
}

.cardTravShow
{
    max-width: 500px;
    min-width: 500px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    left: 0px;
}

#presTravShow
{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 310px;
    left: 60px;
}

.nameCardShow
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 4px;
    left: 15px;
}

.ageCardShow
{
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    left: 50px;
}

.isAcceptedShow
{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #648B57;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    position: relative;
    left: 270px;
    bottom: 31px;
}

.deleteBtnShow
{
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #BC211F;
    position: relative;
    left:404px;
    bottom: 57px; 
}

.acceptBtnShow
{
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #648B57;
    position: relative;
    left: 354px;
    bottom: 27px;
}