  /*                               font-family: 'Cormorant Unicase', serif;                      */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap');

/*                                font-family: 'Open Sans Condensed', sans-serif;               */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body
{
    width: 100%;
    min-height: 100%;
    /*position: relative;*/
}

html, body {
    /*min-height: 100vh;*/
    margin: 0; padding: 0;
}

main
{
    min-height: calc(100vh - 50px - 100px);
}

*
{
    margin:0px;
    padding: 0px;
}

/*application.html.erb layouts*/
footer{
    width:100%;
    height: 100px;
    padding-top:50px;
    background-color: black;
    background-color: blue;
}

.calage /*pour enlever le margin bottom du footer*/
{
    margin-bottom: 0px!important;
}

footer a
{
    color: #ED9106;
    text-decoration: none;
}

span.inter
{
    font-size: 12px;
    color : #BBC5CD;
}

#navbar
{
    width: 100%;
    height: 50px;
    max-height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo_SPC {
    position: relative;
    top: 4px;
    width: 40px;
    height: 40px;
}

#btnGaucheTrue
{
    width: 657px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}

#btnGaucheFalse
{
    width: 365px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}

#btnGaucheHost
{
    width: 943px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50px;
}


#btnDroiteTrue
{
    width: 452px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 50px;
}

#btnDroiteFalse
{
    width: 392px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 50px;
}


#logo
{
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo p
{
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    color: #FF8527;
}

.spc
{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #FF8527;
}

.font
{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #707070;
}

.font:hover
{
    color: black;
}

.logouticon
{
   width: 20px;
   transform: rotate(-90deg);
}

/*______________________________________________________landing page_____________________________*/

.bgLandingPage
{
    background-image: url('jmb.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 80vh;
    background-repeat: no-repeat;
}



.titreLandingPage
{
    font-size: 2em;
    text-align: center;
    position: relative;
    bottom: 30px;
}

.up
{
    position: relative;
    bottom: 38px;
    right: 180px;
}

.h
{
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    color: black;
    position: relative;
    top: 40px;
}

.btnSinscrire
{
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 50px;
	color: white !important;
    background-color: #BC211F;
	font-size: 18px;
	cursor: pointer;
}

.centerBtnHero
{
    width: 200px;
    height: 50px;
    margin: auto;
}

.titreUnderHero
{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
}

.fleche
{
    width: 40px;
    height: 40px;
    margin: auto;
    animation: fleche 1s ease-out alternate infinite;

}

@keyframes fleche
{
    from
    {
        position: relative;
        top: 0px;
    }
    to
    {
        position: relative;
        top: 10px;
    }
}

.lasts
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 50px;
}


.presentation
{
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.centrer
{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.previewCards
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.emptyRight
{
    position: absolute;
    right: 0px;
    min-width: 50%;
    max-width: 50%;
}

.emptyLeft
{
    min-width: 50%;
    max-width: 50%;
}


.pleinUn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
}

.pleinDeux
{
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
}

.side
{
    width: 400px;
    font-size: 29px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5px; 
}

.sideRight
{
    font-size: 29px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5px; 
    position: relative;
    top: 50px;
}

.descLanding
{
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLeft
{
    border-radius: 0px 50px 50px 0px;
    opacity: .8;

}

.imgRight
{
    border-radius: 50px 0px 0px 50px;
    transform: translateY(10.5px);
    opacity: .8;
}


#basDePage
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    right: 200px;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 200px;
    letter-spacing: 2px; 
}

.down
{
    position: relative;
    top: 50px;
}



/*__________________INDEX EVENT____________________*/


.tag_field
{
    position: relative;
    top: 50px;
    right: 10px;
}

.indexEvents
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexEvents::-webkit-scrollbar
{
    width: 0px;
}

.regarde
{
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: 600;
}

.flexEvents
{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 100px;
}

#cards
{
    margin-bottom: 15px;
    width: 300px;
    height: 500px;
    position: relative;
    top: 100px;
}



/*________________CREATE EVENT____________________*/

#pageNewEvent
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.sub
{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 50px;
    background-color: #99d98c;
    color: black;
    font-weight: 600;
}

.btnCreateEvent
{
    position: relative;
    bottom: 50px;
    left: 150px;
}


/*______________DEVISE GENERAL____________________*/
.sharelinks
{
color:#5E6E54;
}

/*______________LOGIN PAGE________________________*/

#loginpage
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.LogInBg
{
background-image:url("log_in.jpg");
background-size: 100%;
opacity: 0.8;
background-repeat: no-repeat;
}

.btnSession
{
    position: relative;
    left: 40px;
}

/*_________________SIGN UP PAGE___________________*/

#signuppage
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.body_signup
{
    background-image:url("sign_up.jpg");
    background-size: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
}

.btnRegistration 
{
    position: relative;
    left: 40px;
}



/*_________________EDIT PROFIL PAGE_______________*/

.EditProfilePage
{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left, .right
{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImgEditProfile
{
    width: 500px;
    transform: rotate(5deg);
    box-shadow: 10px 10px orange;
    border: 1px solid #000000;
    position: relative;
    bottom: 50px;
    z-index: -1
}

.ButtonEditProfile
{
    background-color: orange;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    right: 50%;
    transform: translateX(-45%);
    color: white;
}

.danger
{
    background-color: red;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

.bigger_box
{
    width: 600px;
    max-height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.bigger_space
{
    width: 205px;
}

.selectForm
{
    margin-top: 20px;
}

/*______________SHOW EVENT PAGE __________________*/

.showEvents
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.eventShow
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgtest
{
    max-width: 100%;
    max-height: 100%;
}

#imgShow
{
    width: 640px;
    height: 640px;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    position: relative;
    bottom: 50px;
}

#descShow
{
    width: 640px;
    height: 640px;
    border: 1px solid #e5e5e5;
    position: relative;
    right: 1px;
    border-radius: 0px 30px 30px 0px;
    position: relative;
    bottom: 50px;
}

#titreShow
{
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 60px;
}


#subShow
{
    font-size: 30px;
    position: absolute;
    top: 83px;
    left: 60px;
}

.textShow
{
    max-width: 545px;
    max-height: 230px;
    overflow-y: auto;
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 60px;
    font-style: italic;

}

.smaller
{
    height: 90px;
    overflow: auto;
}

#cityShow
{
    width: 545px;
    font-size: 30px;
    position: absolute;
    top: 377px;
    left: 60px
}

#placeShow
{
    width: 545px;
    font-size: 30px;
    position: absolute;
    top: 432px;
    left: 60px;
}

#btnShow
{
    max-width: 311px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 85px;
    left: 165px;
}

.redTrue
{
    width: 156px;
    height: 100%;
    background-color: #BC211F;
    border: none;
    border-radius: 0px 30px 30px 0px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenTrue
{
    width: 156px;
    height: 100%;
    background-color: #648B57;
    border: none;
    border-radius: 30px 0px 0px 30px;
    color:white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadreTravShow
{
    width: 503px;
    height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 120px;
    left: 60px;
    display: flex;
    align-items: flex-start;
}

#cadreTravShow::-webkit-scrollbar
{
    width: 0px;
}

.cardTravShow
{
    max-width: 500px;
    min-width: 500px;
    height: 50px;
    position: absolute;
    left: 0px;
}

#presTravShow
{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 235px;
    left: 60px;
}

.nameCardShow
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 4px;
    left: 15px;
}

.ageCardShow
{
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    left: 50px;
}

.isAcceptedShow
{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #648B57;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    position: relative;
    left: 270px;
    bottom: 31px;
}

.deleteBtnShow
{
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #BC211F;
    position: relative;
    left:404px;
    bottom: 57px; 
}

.acceptBtnShow
{
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #648B57;
    position: relative;
    left: 354px;
    bottom: 27px;
}


.upload
{
    position: absolute;
    left: 60px;
    bottom: 60px;
}



/*______________LOST PASSWORD PAGE________*/

.PasswordNewPage
{
    width: 100%;
    height: 100vh;
    display: flex;

}

.passwordLost
{
    border: 1px solid orange;
    width: 250px;
}

.wide
{
    width: 200px;
    position: relative;
    bottom: 50px;
}

/*______________COMMUN____________________*/

.form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    min-width: 400px;
}

.titreEvents
{
    text-transform: uppercase;
}
