<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te confirmons la mise à jour de ton email <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te confirmons que ton email a bien été modifié par <%= @resource.email %>.</p>
<% end %>
