<p>Bonjour <%= @resource.email %>!</p>

<p>Tu as fait appel au formulaire de changement de mot de passe. Tu peux le modifier avec le lien ci-dessous:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de toi, tu peux ignorer cet email.</p>
<p>Ton mot de passe ne sera pas modifié tant que tu ne cliques pas sur le lien.</p>
